.list-item{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.item{
    color: #E8F0EA;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.item:hover{
    filter: brightness(.9);
}

.category{
    font-weight: bold;
}

#view{
    text-decoration: underline;
}

#cart-button{
    width: 45%;
    height: 65%;

    outline: #E8F0EA solid 1px;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: start;
}

#cart-button:hover{
    transform: scale(1.05);
}

#cart-price{
    color: #E8F0EA;
    font-weight: 100;
    font-family: sans-serif;

    margin: auto;
}

#cart-logo{
    margin-left: 5%;
    height: 80%;
}

.store-category-section{
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
}

.store-category{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;

    margin-top: 3%;
}

.headers-section{
    width: 100%;
    height: 10%;

    display: flex;
}

.category-title-section{
    display: flex;
    flex: 1;
    
    align-items: center;
    justify-content: center;
}

.category-title{
    flex: 1;
}

.category-more{
    flex: 1;
    text-align: end;
}

.items-section{
    width: 100%;
    flex: 1;
}

.category-list{
    width: 100%;
    height: 100%;

    padding: 0;
    margin: 0;

    display: flex;
    overflow-x: scroll;
}

.category-list::-webkit-scrollbar{
    display: none;
}

.category-group{
    width: 100%;
    height: 100%;

    display: flex;
    gap: 4em;

    justify-content: start;
    align-items: center;
    animation: spin 10s infinite linear;
}

.category-more{
    text-decoration: none;
}

.item-container{
    width: 20%;
    height: 95%;

    flex: 0 0 15em;
}

.item-container:hover{
    filter: brightness(70%);
}

.item-card{
    width: 100%;
    height: 90%;



    background-image: url(../../images/other/apples-crate.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

@keyframes spin {
    from {translate: 0;}
    to {translate: -100%;}
}