<!-- Inherit from base html with components -->
{% extends 'base.html' %}

<title>{% block title %}Store{% endblock %}</title>

{% block content %}
{% include 'components/navbar.html' %}
<script type="module" src="{{url_for('static', filename='js/store.js')}}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='styles/store/store.css')}}">


<section class="store-category-section">
    <!-- Category -->
    <div class="store-category">
        <div class="headers-section">
            <div class="category-title-section"><h2 class="category-title">Fruits & Vegatables</h2><h3 class="category-more">View More →</div>
        </div>
        <div class="items-section">
            <ul class="category-list">
                <div class="category-group">
                    <div class="item-container">
                        <div class="item-card"></div>
                        <div class="item-description">Fresh organic apples</div>
                    </div>
                </div>
            </ul>
        </div>
    </div>

    <!-- Category -->
    <div class="store-category">
        <div class="headers-section">
            <div class="category-title-section"><h2 class="category-title">Fruits & Vegatables</h2><h3 class="category-more">View More →</div>
        </div>
        <div class="items-section">
            <ul class="category-list">
                <div class="item-container">
                    <div class="item-card"></div>
                    <div class="item-description">Fresh organic apples</div>
                </div>
            </ul>
        </div>
    </div>

    <!-- Category -->
    <div class="store-category">
        <div class="headers-section">
            <div class="category-title-section"><h2 class="category-title">Fruits & Vegatables</h2><h3 class="category-more">View More →</div>
        </div>
        <div class="items-section">
            <ul class="category-list">
                <div class="item-container">
                    <div class="item-card"></div>
                    <div class="item-description">Fresh organic apples</div>
                </div>
            </ul>
        </div>
    </div>

    <!-- Category -->
    <div class="store-category">
        <div class="headers-section">
            <div class="category-title-section"><h2 class="category-title">Fruits & Vegatables</h2><h3 class="category-more">View More →</div>
        </div>
        <div class="items-section">
            <ul class="category-list">
                <div class="item-container">
                    <div class="item-card"></div>
                    <div class="item-description">Fresh organic apples</div>
                </div>
            </ul>
        </div>
    </div>



</section>

{% endblock %}