{% block dashboard_content %}
<link rel="stylesheet" href="{{url_for('static', filename='styles/admin/dashboard.css')}}">

<!-- Orders Table -->
<div id="orders-table" class="table">

    <!-- Orders Table Header -->
    <div class="table-row-header-footer table-header-row">
        <div class="table-header">Order ID</div>
        <div class="table-header">Customer</div>
        <div class="table-header">Status</div>
        <div class="table-header">Date</div>
        <div class="table-header">Total</div>
    </div>


    <!-- Orders Table Row -->
    <div class="table-row">
        <div class="table-row-data order-table-row-id">
            #001
        </div>


        <div class="table-row-data order-table-row-customer">
            Kaydee Seatherton
        </div>


        <div class="table-row-data order-table-row-status">
            <div class="orders-row-data-status orders-row-data-status-pending">
                Pending
            </div>
        </div>


        <div class="table-row-data order-table-row-date">
            17/04/2026
        </div>


        <div class="table-row-data order-table-row-total">
            £15.25
        </div>
    </div>

    <!-- Orders Table Row -->
    <div class="table-row">
        <div class="table-row-data order-table-row-id">
            #002
        </div>


        <div class="table-row-data order-table-row-customer">
            Bog Bog
        </div>


        <div class="table-row-data order-table-row-status">
            <div class="orders-row-data-status orders-row-data-status-pending">
                Pending
            </div>
        </div>


        <div class="table-row-data order-table-row-date">
            14/04/2026
        </div>


        <div class="table-row-data order-table-row-total">
            £26.70
        </div>
    </div>



    <!-- Orders Table Row -->
    <div class="table-row">
        <div class="table-row-data order-table-row-id">
            #003
        </div>


        <div class="table-row-data order-table-row-customer">
            Deacon Mutter
        </div>


        <div class="table-row-data order-table-row-status">
            <div class="orders-row-data-status orders-row-data-status-completed">
                Completed
            </div>
        </div>


        <div class="table-row-data order-table-row-date">
            12/04/2026
        </div>


        <div class="table-row-data order-table-row-total">
            £8.50
        </div>
    </div>



    <!-- Orders Table Row -->
    <div class="table-row">
        <div class="table-row-data order-table-row-id">
            #004
        </div>


        <div class="table-row-data order-table-row-customer">
            Ronnie Pickering
        </div>


        <div class="table-row-data order-table-row-status">
            <div class="orders-row-data-status orders-row-data-status-cancelled">
                Cancelled
            </div>
        </div>


        <div class="table-row-data order-table-row-date">
            10/04/2026
        </div>


        <div class="table-row-data order-table-row-total">
            £9.00
        </div>
    </div>
</div>
</div>
{% endblock %}